button.delete-btn {
    background: none;
    border: none;
    color: #3a81bb;
    line-height: 17px;
}

form.delete-form {
    float: left;
}

a.edit-btn {
    float: left;
}

div#wrapper {
    background: rgb(0, 153, 255);
}

.nav-header {
    background-color: #6eafff;
	background-image: unset;
}

body.mini-navbar .nav-header {
    background-color: #6eafff;
}

.btn-primary {
    background-color: rgb(255, 0, 153);
    border-color: rgb(255, 0, 153);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
    background-color: rgb(51, 51, 153);
    color: rgb(255, 255, 255);
    border-color: rgb(51, 51, 153);
}

.client-detail {
    position: relative;
    /*height: 578px;*/
}
.facility-client-detail {
    position: relative;
    height: 630px;
}

div#vertical-timeline {
    height: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 10px;
    margin: 20px 10px;
    width: 97%;
}

.clients-list .tab-pane {
    position: relative;
    height: 660px;
}

.alert-custom {
    margin: 20px 10px 0 10px;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
    background: rgb(255, 0, 153);
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
    background: rgb(251, 193, 226);
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
    background: rgb(255, 0, 153);
}
.table-marginless {
    margin-bottom:0px;
}
canvas#childAdmission {
    height: 100% !important;
}
.ens-register-tabs {
    border: none;
}

.btn-registered {
    font-size: 9px;
}